body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
  background: #eceff1;
}

.goals-container {
  width: 70%;
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.goal {
  width: 30%;
  margin: 1.5%;
}

.goal-card-action {
  width: 24%;
}

.streaks-container {
  margin-top: 20px;
}

.streak {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.streak-interval {
  color: #eceff1;
  height: 20px;
  width: 100%;
  text-align: center;
  border: solid rgba(0, 0, 0, 0.1) 1px;
}

.logout {
  float: right;
}

.header {
  margin: 0 20px;
}

.fixed-action-btn {
  position: relative;
}
